/* Main Background image and styling */

@import url('https://fonts.googleapis.com/css?family=Barrio|Megrim|Oxygen|Righteous|Rubik+Mono+One|Shadows+Into+Light&display=swap');

body { 
  background: url("../images/skiing.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img-src {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

/* Fonts */

p {text-align: center;
    
}

#first {
    font-family: 'Barrio', cursive;
    color: #ffffff;
    font-size: 70px;

}

p2 {text-align: center;
    text-shadow: 8px 10px 40px #00ffff;
}

h2 {
  font-family: 'Righteous', cursive;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    text-shadow: 8px 10px 40px #00ffff;
}


h3 {
  font-family: 'Shadows Into Light', cursive;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    text-shadow: 8px 10px 40px #00ffff;

}

h4 {
  font-family: 'Oxygen', sans-serif;
    color: #6C7A89;
    font-size: 25px;
    text-align: center;

}

ol {
  font-family: 'Oxygen', sans-serif;
    color: #6C7A89;
    font-size: 25px;
    text-align: center;

}

h6 {
    font-family: 'Megrim', cursive;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    text-shadow: 8px 10px 40px #ffff,
    1px 1px 3px #00ffff;
}

/* Paragragh styling */

.p4 {
  font-family: 'Barrio', cursive;
    color: #6C7A89;
    font-size: 35px;
    text-align: center;
    text-shadow: 8px 10px 40px #00ffff;

}

.form-group { font-family: 'Oxygen', sans-serif;
    color: #6C7A89;
    font-size: 25px;
    text-align: center;
    text-shadow: 8px 10px 40px #00ffff;


}

p {
  font-family: 'Oxygen', sans-serif;
  color: #6C7A89;
  font-size: 25px;
}

tag {
  font-family: 'Rubik Mono One', sans-serif;
    color: black;
    font-size: 15px;
    text-shadow: #63FF00 1px 0 10px;
}

.btn:hover {background: #eee;}

.info {color: #ffffff;
    font-size: 40px;
    text-align: center;
    text-shadow: 8px 10px 40px #00ffff
    1px 1px 3px #00ffff;

}

/* Button styling */

.btn {
  font-family: 'Megrim', cursive;
  color: #ffffff;
   font-size: 40px;
    text-align: center;
    text-shadow: 8px 10px 40px #ffffff,
    1px 1px 3px #00ffff;
  
}

.btn-primary {
  font-family: 'Megrim', cursive;
  color: #ffffff;
   font-size: 20px;
    text-align: center;
    text-shadow: 8px 10px 40px #ffffff,
    1px 1px 3px #00ffff;

}

.btn-primary:hover {
  background-color: #242ef2;
}

.btn-success {
  font-family: 'Megrim', cursive;
  color: #ffffff;
   font-size: 20px;
    text-align: center;
    text-shadow: 8px 10px 40px #ffffff,
    1px 1px 3px #00ffff;
}

.btn-success:hover {
  background-color: #242ef2;
}

button1 {
  font-family: 'Righteous', cursive;
  color: #ffffff;
  font-size: 20px;
}


btn {
  border: none;
  background-color: inherit;
  padding: 50px 28px;
  font-size: 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
  display: inline-block;
}

.sizing {
  width: 300px;
  height: 200px;
}

.onclick {
   background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  

input {
    display: none;
}

/* Flip image box styling and function */

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  -webkit-perspective: 1000px;
          perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: #000000;
}


/* Style the back side */
.flip-box-back {
  background-image: -webkit-linear-gradient(315deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  background-image: -o-linear-gradient(315deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.modal-backdrop {
   background-color: #050505;
}


.iframe {
  padding:1px;
  border:1px
  
}


/* CSS For working content */

body {
  font-family: sans-serif;
  background-color: #DEDEDE;
  color: #333;
  padding: 20px 0 28px 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

/* Map information and display */

html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* add map marker */

body {margin: 0.3em;}

.mine {width: 95%; margin: 0.1em;}

#buttonbar {background-color: whitesmoke;}



#map_go {
    border: 1px red; 
    height: 100%;
  margin: 0;
  padding: 0;
}


/* Optional: Makes the sample page fill the window. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

/* form group layout */

.form-group {
                    background: #ffffff;
                    padding: 20px;
                }

                .form-group2 {
                    background: #ffffff;
                    padding: 20px;
                }

                .border {
                    margin: 70px;
                    border: 1px solid #4CAF50;
                }

                .padding-footer {
                    padding: 30px;
                }



            .card-img-top {
                padding: 8px
            }

            .card-img-fluid {
                padding: 6px;
                border: 0px;
            }

            .modal-content {
                border-bottom: 10px;
                padding-top: 20px;
                padding-bottom: 20px;

            }

            .myclass {

      min-height: 0;
      min-width: 50px;
      padding-top: 40px;
      padding-bottom: 20px;
    }

/* footer links styling */
              
            .h6:hover {
    
                color: #24e5f2;
            }

            .fab:hover {
                color: #45f1f7;
            }

            .fa-facebook {
                
                color: #ffffff;
            }

            .fa-twitter {
                
                color: #ffffff;
            }


            .fa-youtube {
                
                color: #ffffff;
            }